// override card styling from Bulma
.card {
  padding: 0;
  margin: 0 10px;
  border-radius: 10px;

  &_tag {
    position: absolute;
    background: $pal-navy;
    color: $pal-white;
    right: 0;
    top: -26px;
    border-radius: 10px 10px 0 0;
    min-width: 140px;
    height: 26px;
    padding-top: 7px;
    @include text-label;
    text-align: center;
  }

  &_hdr {
    @include title-card;
    font-family: AvenirHeavy;
    padding: 30px 10px;
    text-align: center;
    background: $pal-navy;
    color: $pal-white;
    border-radius: 10px 10px 0 0;

    @include mobile() {
      @include font-size(20px/14);
    }
  }

  &_body {
    padding: 20px;
  }

  @include mobile() {
    margin-bottom: 40px;
  }
}

// card styling in overview section
.card-overview {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), inset 0 5px $pal-navy;
  background: $pal-white;
  color: $pal-black;
  padding: 40px;
  border-radius: 0 0 30px 0;
  text-align: center;

  h2 {
    @include title-card;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
  }

  .glance {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    line-height: 40px;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 5px;
      background: $pal-red;
      bottom: -10px;
      left: 0;
    }

    > strong {
      display: inline-block;
      text-align: left;
    }

    > span {
      display: inline-block;
      text-align: right;
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }

  &-stage {
    .glance-layout {
      display: none;

      @include mobile() {
        display: block;
        text-align: center;
        > strong {
          color: $pal-red;
        }
      }
    }

    .stage_visuals {
      display: flex;
      align-items: center;

      > img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        max-width: 200px;
      }

      @include mobile() {
        display: none;
      }
    }

    .stage_supportLimit {
      position: absolute;
      bottom: -40px;
      left: -40px;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      background-size: 100px;
      border: 5px solid $pal-white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      background-color: $pal-turquoise;
      background-repeat: no-repeat;

      background-position: 50%;
      z-index: 1;

      &-4 {
        background-image: url("./../assets/img/misc/supportLim-4.png");
      }

      &-3 {
        background-image: url("./../assets/img/misc/supportLim-3.png");
      }

      @include mobile() {
        top: -40px;
        left: -10px;
      }
    }

    @include tablet-only() {
      > .columns {
        display: block;

        .is-7 {
          width: 100%;
        }
      }
    }
  }

  &-pokemon {

    h2 {
      margin-right: 30px;
    }

    .stage_pokemonThumbnail {
      display: block;
      width: 60px;
      height: 60px;
      background-size: 60px;
      border-radius: 50%;
      background-color: transparent;
      position: absolute;
      right: -65px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// card styling in disruptions section
.card-disruptions {

  .disruptions {

    > li {
      margin: 20px 0 10px 0;
      padding-bottom: 10px;
      border-bottom: 5px solid $pal-turquoise;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }

    ul {
      padding-left: 30px;

      > li {
        margin: 10px 0 5px 0;
        padding-bottom: 5px;
        border-bottom: 2px solid $pal-turquoise;

        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}

// card styling in strategy section
.card-strategy {

}

// card styling in support section
.card-supports {
  min-height: 100px;

  &-mega {
    .card_hdr {
      background: $pal-red;
    }
  }

  .supports {

    > li {

      img {
        @extend %pokemon-slot;
      }
    }
  }
}
