.section {
  padding-top: 30px;
  &_title {
    @include title-section;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

.section-disruptions {

  .section_ftr {
    margin-top: 30px;
  }

  .addedSupp {
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: $shadow-default;

    &_header {
      @include title-tile;
      color: $pal-white;
      border-radius: 15px 0 0 15px;
      background: $pal-navy;
      padding: 25px 40px;
    }

    &_content {
      padding: 10px 20px;

      > img {
        @extend %pokemon-slot;
      }
    }
  }
}

.section-supports {
  h2 {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .parties {
    padding-left: 10px;
  }

  .supports {
    li {
      padding: 0;
      margin: 5px;
    }
  }
}
