$pal-black: #2D2D2D;
$pal-white: #FCFCFC;
$pal-navy: #28426B;
$pal-red: #F7567C;
$pal-gray: #C3C3C3;

$pal-turquoise: #99E1D9;

$font_path: '~assets/fonts/';

$shadow-default: 0 3px 6px rgba(0, 0, 0, 0.16);

%pokemon-slot {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: $pal-red;
}

%tooltip {
  position: absolute;
  content: attr(data-attr);
  padding: 10px;
  text-align: center;
  bottom: -55px;
  left: 0;
  min-width: 180px;
  background: $pal-navy;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: all 0.25s ease;
  color: $pal-white;
}
